{% extends "default/module.html.jinja2" %}
{% block nav_title %}
    <a href="/"><img src="https://chat.wokki20.nl/assets/images/logo-text-purple.png" class="logo" alt="Wokki Chat"/></a>
{% endblock %}

{% block nav_footer %}
    <footer>Copyright 2026 wokki20 & Bjarnos<br>- built with pdoc -</footer>
{% endblock %}

{% block attribution %}{% endblock %}