@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

body {
    font-family: "Inter", sans-serif;
    color: var(--clr-text-a0);
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--clr-popup-a0);
}

:root {
    --pdoc-background: var(--clr-popup-a0);
}

.pdoc {
    --text: var(--clr-text-a0);
    --muted: var(--clr-text-a50);

    --link: var(--clr-primary-a0);
    --link-hover: var(--clr-primary-a20);
    --code: var(--clr-surface-a0);
    --active: var(--clr-surface-a10);

    --accent: var(--clr-popup-a0);
    --accent2: var(--clr-popup-a20);

    --nav-hover: rgba(26, 26, 26, 0.5);
    --name: #6A6AFF; /* syntax-highlighting.css -> Name.Function */
    --def: #7686BB; /* syntax-highlighting.css -> Keyword */
    --annotation: #CCC;
}

.header {
    height: 75px;
}
.sidebar {
    width: 230px;
    transition: transform 0.2s ease-in-out;
}
nav.pdoc {
    padding: 15px !important;
}

nav.pdoc > div {
    padding: 0 !important;
    flex-direction: column !important;
    padding-left: 20px !important;
}

nav.pdoc > div h2 {
    font-size: 16px !important;
    font-weight: var(--font-weight-semibold);
    color: var(--clr-text-a40);
}
.pdoc-sidebar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    margin-left: -20px !important;
}

.pdoc.sidebar #navtoggle {
    display: none !important;
}

#navtoggle {
    right: unset !important;
}

main.pdoc {
    position: absolute;
    top: 75px;
    right: 0;
    height: calc(100% - 75px - 30px);
    width: calc(100% - 231px - 30px);
    overflow-y: auto;
    padding: 15px;
    z-index: 0;
}

@media screen and (max-width: 769px) {
    .header .logo {
        margin-left: 50px !important;
    }
    .sidebar:has(#togglestate:checked) {
        transform: translateX(0%);
    }
    .sidebar {
        transform: translateX(-100%);
    }
    main.pdoc {
        width: 100% !important;
    }

    nav input[type="search"] {
        width: calc(100% + 20px) !important;
        margin-left: -20px;
    }
}

main.pdoc::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

main.pdoc::-webkit-scrollbar-thumb {
  background-color: var(--clr-popup-a20); 
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

main.pdoc {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-popup-a20) transparent;
}

input[type="search"] {
    width: calc(100% + 20px) !important;
    margin-left: -20px;
}

.pdoc code {
    background-color: var(--clr-surface-a0) !important;
}